body {
    font-family: 'Open Sans', sans-serif;
    /*background-color: #ADD8E6;*/
}

body,
html {
    margin: 0;
    padding: 0;
}

h1,
h3 {
    font-weight: bold;
    font-stretch: expanded;
}

.upper {
    text-transform: uppercase;
    letter-spacing: .3rem;
}

#home {
    margin-bottom: 2em;
}

.sidenav {
    margin-top: 4em;
    height: 100%;
    width: 14em;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    overflow-x: hidden;
    text-align: right;
    text-transform: uppercase;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    letter-spacing: .4rem;
}

#contentCont {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 3em;
    margin-left: 12em;
    text-align: center;
    font-size: 25px;
}

#pageTitle {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: .4rem;
    padding-top: 6px;
    padding-bottom: 2em;
}

#contentPage {
    margin-top: 2em;
    background-color: #ADD8E6;
    height: 24em;
    width: 43em;
    display: table;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

p {
    color: white;
}

#aboutPage {
    display: table-cell;
    vertical-align: middle;
}


#nyc {
    color: blue;
}

#mediaArts {
    color: red;
}

#creative {
    color: yellow;
}

#design_text {
    color: green;
}

#making_text {
    color: turquoise;
}

#thinking_text {
    color: magenta;
}

#cool_text {
    color: brown;
}

.soft-pad {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

span:hover {
    cursor: pointer;
}